<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'web/css/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'web/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock css %}
</head>

<body cz-shortcut-listen="true">

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper" class="">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top">Aspi.re</a>
        </li>
        <li>
            <a href="{% url 'home' %}" onclick="$(&quot;#menu-close&quot;).click();">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'profile' %}" onclick="$(&quot;#menu-close&quot;).click();">My Account</a>
        </li>
        <li>
            <a href="{% url 'account_logout' %}" onclick="$(&quot;#menu-close&quot;).click();">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'account_login' %}" onclick="$(&quot;#menu-close&quot;).click();">Login</a>
        </li>
        <li>
            <a href="{% url 'account_signup' %}" onclick="$(&quot;#menu-close&quot;).click();">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h2>{% include 'message.html' %}</h2>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </div>
</header>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Aspi.re Assignment</strong>
                </h4>
                <p><strong>Beshambher Chaukhwan</strong></p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (+91) 8285802949</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:bishamberc@gmail.com">bishamberc@gmail.com</a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright © Beshambher 2016</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg" style="display: block; position: fixed;"><i
            class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="{% static 'web/js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'web/js/bootstrap.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
{% block js %}{% endblock js %}
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });

</script>

</body>
</html>
